@media (max-width: 600px){


    #img_contact{
        width: 40vw;
        height: 60vw;
    }

    #contact_div{
        font-size: smaller;
    }

    #contact_div button{
        padding: 1%;
        font-size: smaller;
    }

}