/*style settings of navbar*/
.navbar{
    background-color: rgb(30, 30, 30);
    color:aliceblue;
    font-weight: 500;
}

#myNav button{
    z-index: 999;
}

@media (max-width: 600px){

    #myNav p{
        font-size: 0.6em;
    }

    #myNav button{
        font-size: 0.6em;
        padding: 1%;
    }

}


