#title1{
    color: rgb(220, 180, 0);
    font-weight: 500;
    font-size: 8em;
}

#title2{
    color: aliceblue;
    font-weight: 500;
    font-size: 5em;
}

#title_div{
    width: 100%;
    height: 100vh;
    text-align: center;
}

#bg_layer{
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    background-image: url("../assets/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

#buttons_div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#buttons_div button{
    width: 30vh;
    color: rgb(30, 30, 30);
    background-color: rgb(220, 180, 0);
    font-weight: 500;
}

@media (max-width: 800px){

    #title1{
        font-size: 6em;
    }
    #title2{
        font-size: 4em;
    }

    #buttons_div button{
        font-size: 1em;
    }
  
}

@media (max-width: 700px){

    #title1{
        font-size: 3.5em;
        margin-inline: 0%;
    }
    #title2{
        font-size: 2em;
        margin-inline: 0%;
    }

    #buttons_div button{
        width: auto;
        font-size: 0.8em;
        padding: 1%;
    }

}

@media (max-width: 600px){


    #buttons_div button{
        width: 30vw;
        font-size: 0.5em;
        padding: 1%;
        white-space: nowrap;
    }

    #buttons_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
