#aboutMe_div{
    color: aliceblue;
    margin-inline: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#aboutMe_div button{
    color: rgb(30, 30, 30);
    background-color: rgb(220, 180, 0);
    font-weight: 500;
    font-size:0.8em;
}

.paragraphs {
    white-space: pre-line;
}